<h1>New Game</h1><br>
<%= form_for([@user, @game]) do |f| %>
<!-- @user is the player -->
  <p>
    The <br><br>(noun)<%= f.text_field :gif1 %> went to the <br><br>(place)<%= f.text_field :gif2 %> with <br><br>(person)<%= f.text_field :gif3 %> and <br><br>(plural noun)<%= f.text_field :gif4 %>.
  </p>

  <%= f.submit %>

<% end %>
